<div class="top">
        
  <div class="top-name">
    好きなように<br>
    好きなグルメを<br>
  </div>


  <div class="slide-container">
   <div class="slide-wrapper">
      <%= image_tag '/assets/toppage.jpg'  ,class: "slide"%>
      <%= image_tag '/assets/top-salada.jpg'  ,class: "slide"%>
      <%= image_tag '/assets/top-meet.jpg'  ,class: "slide"%>
      <%= image_tag '/assets/top-pancakes.jpg'  ,class: "slide"%>
  
   </div>
   <div class="slide-wrapper">
   <%= image_tag '/assets/toppage.jpg'  ,class: "slide"%>
      <%= image_tag '/assets/top-salada.jpg'  ,class: "slide"%>
      <%= image_tag '/assets/top-meet.jpg'  ,class: "slide"%>
      <%= image_tag '/assets/top-pancakes.jpg'  ,class: "slide"%>
   </div>
   <div class="slide-wrapper">
   <%= image_tag '/assets/toppage.jpg'  ,class: "slide"%>
      <%= image_tag '/assets/top-salada.jpg'  ,class: "slide"%>
      <%= image_tag '/assets/top-meet.jpg'  ,class: "slide"%>
      <%= image_tag '/assets/top-pancakes.jpg'  ,class: "slide"%>
   </div>

   <div class="center">searchGURUME
   
   </div>
</div>
  

</div>
<div class="message">
<ul class="details">
	<li class="type1">
		<%= image_tag 'messege.jpg'  ,class: "image"%>
    
		<dl class="text">
			<dd>
      
        「おいしいものを自由に調べたい」<br>
      そんな願いからこのサイトを作りました。<br>
      あなたも一緒においしいひとときを探しに<br>
                 いきませんか？<br></dd>
		</dl>
	</li>
	</div> 
  
</ul>
